.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: url("../public/images/Img099327-Edit.jpg") no-repeat center center fixed;
  background-size: cover;
}



.App-link {
  color: #61dafb;
}

