.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: url("../public/images/Img099327-Edit.jpg") no-repeat center center fixed;
  background-size: cover;
}

.app-background {
  background: url("../public/images/Img099327-Edit.jpg") no-repeat center center fixed;
  background-size: cover;
}

.truck-background {
  background: url("../public/images/Img46282_web_background.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  background: url("../public/images/Img74185.jpg") top center no-repeat ;
  background-size: 100% 125px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: #66C;
  width: 100%;
  position: fixed;
  top: 0;
}

.grower-field-selector-container
{
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  border-width: thin;
  border-style: solid;
  padding: 10px;
}
.grower-selector
{
  grid-column: 2;
}

.field-truck-container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.home-buttons-container
{
  display: grid;
  grid-template-columns: 40px 1fr 40px 1fr 4px;
  gap: 10%;
  grid-template-rows: 200px;
  justify-items: center;

}

.home-button-left
{
  grid-column: 2;
  font-size: xx-large;
}

.home-button-right
{
  grid-column: 4;
  font-size: xx-large;
}

.field-selector
{
  grid-column: 3
}


.truck-header {
  background-color: #282c34;
  background: url("../public/images/Img74661.jpg") top center no-repeat ;
  background-size: 100% 125px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: #339;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-text
{
  position: fixed;
  top: 10px;
}
.App-link {
  color: #61dafb;
}

.navbar {
  overflow: hidden;
  background-color: deepskyblue;
  position: fixed;
  top: 125px;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.content {
  margin-top: 250px;
}


