.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background: url("../public/images/Img099327-Edit.jpg") no-repeat center center fixed;
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  background: url("../public/images/Img74185.jpg") top center no-repeat ;
  background-size: 100% 125px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
}


.App-link {
  color: #61dafb;
}

